body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, #dbf55b, #4ba261);
    color: rgb(240, 21, 21); 
    padding: 20px;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}